/*       GLOBAL CSS RESETS       */
html, body {
    margin: 0;
    padding: 0;
    background-color: #FCF3E4;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


/*       GRID SETUP + POSITIONING       */
#page>header {
    grid-area: header;
    background-color: #FEA698;
    
    font-family: giulia, sans-serif;
    font-weight: 700;
    font-style: normal;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#page>nav {
    display: flex;
    
    grid-area: nav;
    background-color: #FCF3E4;

    font-family: co-text, sans-serif;
    font-weight: 400;
    font-style: normal;

    justify-content: space-around;
    
}

#page>main {
    grid-area: main;
    background-color: #FFFFFF;
    padding: 20px;

    font-family: co-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#page>aside {
    grid-area: sidebar;
    background-color: #FCF3E4;

    font-family: co-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#page>footer {
    grid-area: footer;
    background-color: #FEA698;

    font-family: giulia-plain, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: large;
}

#page {
    display: grid;
    gap: 0px;
    width: 100%;
    max-height: 100vh;
  
    grid-template-areas: 
        "header   header  header"
        "nav   main    sidebar"
        "footer   footer  footer";

    grid-template-rows: .5fr 5fr .3fr;
    grid-template-columns: 1fr 4fr .5fr;
}




/*  Styling Colors: #7BC7AD    #019097   #FCF3E4     #FEA698    #E0AF8C   */

/*       HEADER --> STYLING       */


h1 {
    color: white;
    font-size: xx-large;
}

h1, h2, h3, h4, h5, h6 {
    font-family: giulia,sans-serif;
    font-weight: 700;
    font-style: normal;
}



/*       NAV --> STYLING       */
nav {
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    padding: 10px;
}



/*       MAIN --> STYLING       */
main {
    overflow-x: hidden;
    overflow-y: scroll;
    
}



/*       RESPONSIVE GALLERY STYLING
    https://blog.logrocket.com/how-create-responsive-image-gallery-css-flexbox/ 

    -- insanely useful RSS for creating a responsive gallery grid, need to make sure the page height remains the full viewport height and troubleshoot some issues with the rest of my code --

*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  
.gallery > li {
    height: 300px;
    cursor: pointer;
    position: relative;
    flex-grow: 1;
    flex: auto;
}

.gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.gallery::after {
    content: "";
    flex-grow: 999;
}



/*       SIDEBAR --> STYLING       */
aside {
    color: white;
}

.social-links {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
}



/*       FOOTER --> STYLING       */
footer {
    display: flex;

    justify-content: space-around;
    align-items: center;

    background-color: #F7D7D7;
    border-radius: 100px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}
